*
{
    margin: 0px;
}
#total
{
    background-color: black;
    color: white;
   
}
#total p
{
    font-family: Arial, Helvetica, sans-serif;
   

}
.home
{
    height: 900px;
}
.header
{
    
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    background: transparent;
    background-color: black;
    position:fixed;
    z-index: 1;
    
}
.logo
{
    width: 300px;
    margin: 50px;
    padding: 0px 20px;
    
}
.S
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #FFD700;
    border-radius: 25px;
    padding: 5px;
    margin-right: 5px;

}
.C
{
    
    background-color: #FFD700;
    color: white;
    border-radius: 25px;
    padding: 10px;

}
.a a:hover
{
    text-decoration: none;

}
.name
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
header
{
    
    justify-content: space-between;
    
}
header a
{
    margin: 0px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFD700;
}
header a:hover
{
    color:white;
    text-decoration: underline;
}
/* ------------------------------------row1---------------------------- */
#home
{
    height: 700px;
}
.card1
{
    display: flex;
    height: 700px;

}
.about
{
    width: 500px;
    height: 500px;
    position: relative;
    top: 120px;
    left: 200px;
    padding: 10px 30px;
}
.about h1
{
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.about h3
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.about p
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.icons a
{
    text-decoration: none;
    font-size: 10px;
}
.icons svg:hover
{
    fill:#FFD700;
    background-color: white;
    scale: 1.05;
}
.icons svg
{
    height: 50px;
    width: 50px;
    fill: #FFD700;
    border: 2px solid #FFD700;
    border-radius: 50px;
    padding: 5px;
    margin: 0px 5px;
}
.icons button
{
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: #FFD700;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 200px;
}
.icons .hire
{
    transition:2s;
}

.icons .hire:hover
{
    transform: scaleX(1.2); 
    /* color:yellow; */
    background-color: white;
}
.img1 img
{
    height: 500px;
    width: 350px;
    border-radius: 25%;
    padding: 20px;
    box-shadow:0 0 10px 10px #FFD700;    
}
.img1:hover
{
    animation-name: bounce;
            animation-duration: 1s;
            animation-delay: 0.1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            
}

@keyframes bounce
 
{
   from{
        transform: translateY(100px);
    }
    to
    {
        transform: translateY(0px)
    }
    
    
}
.img1
{
   
    height: 500px;
    width: 350px;
    border-radius: 25%;
    position: relative;
    top: 150px;
    left: 400px;

}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
  }
  .text-animation span{
    position: relative;
  }
  .text-animation span::before{
    content: "Web Developer";
    color:#FFD700;
    animation: words 20s infinite linear;
  }
  .text-animation span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #FFD700;
    right: -8px;
    animation: cursor 0.1s infinite, typing 20s steps(20) infinite;
  }
  @keyframes cursor{
    to{
        border-left: 2px solid #FFD700;
    }
  }
  @keyframes words
  {
    0%,
    20%{
        content: "React Developer";
    }
    21%,
    40%{
        content: "Web Developer";
    }
    41%,
    60%{
        content: "Frontend Developer ";
    }
    61%{
      content: "Backend Developer";
    }
  }
  @keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
  
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
  }
  }

 /* ---------------------------------------------row2----------------------------------- */
#about
{
    display: flex;
    position: relative;
    top: 100px;
    height: 100vh;
    width: 100vw;
    margin-bottom: 100px;
}
 .img2 img
{
   
    height: 500px;
    width: 350px;
    border-radius: 50%;
    padding: 30px;
    border: 15px solid #FFD700;
   

}
.img2
{
    width: 500px;
    height: 600px;
    position: relative;
    top: 100px;
    left: 100px;

}
.img2:hover
{
    animation-name: bounce;
            animation-duration: 1s;
            animation-delay: 0.1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
}

@keyframes bounce
 
{
  
   from{
        transform: translateY(50px);
    }
    to
    {
        transform: translateY(0px)
    }
    
    
}
.card3
{
    position: relative;
    top: 200px;
    left: 230px;
    width: 700px;
    height: 500px;

}
.card3 p
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.resume
{
    border: 2px solid white;
    width: 220px;
    height: 50px;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: #FFD700;
    border: 2px solid #FFD700 ;
}
.resume b
{
    font-weight: bold;
    color: black;
}
.resume svg
{
    color: black;
    height: 30px;
    width: 50px;
    margin-top:5px ;
}

.resume a
{
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-top: 80px;
    padding: 10px;
}

 /* ---------------------------------------------Education----------------------------------- */

#Education
{
    height: 100vh;
    width: 100vw;  
}
.heading h1
{
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 50px;
}
.card
{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;


}

.edu
{
    width: 600px;
    padding:20px ;

}
.edu h2
{
    color: #FFD700;
}
.edu .edu-cards
{
    border: 2px solid #FFD700;
    margin: 10px;
    padding:15px ;
    height:150px;
    font-size: 25px;
    border-radius: 10px;

}
.edu-cards:hover
{
    scale: 1.02;
    box-shadow: 0 0 4px 4px #FFD700;
}

.exp .exp-card
{
    width: 650px;
    height: 237px;
    padding:20px ;
}
.exp h2
{
    color: #FFD700;
}
.exp .exp-card
{
    border: 2px solid #FFD700;
    margin: 20px;
    padding:20px ;
    font-size: 24px;
    border-radius: 10px;

}
.exp-card:hover
{
    box-shadow: 0 0 4px 4px #FFD700;
    scale: 1.02;
}


 /* ---------------------------------------------Skills----------------------------------- */
#skills
{
    
    width: 100vw;
}
#row4 .heading
{
    
    text-align: center;
}
.heading h1
{
    margin-top: 0px;
}
.skill
{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: space-evenly;
    padding: 30px;
    
}

.skills
{
    width: 150px;
    border-radius: 25px;
    padding: 0px;
    text-align: center;
    margin: 20px;
    

}
.skills img
{
    height: 150px;
    width: 150px;
    border-radius: 25px;
}
.skills:hover
{
    color: white;
    scale:0.98;
    background:linear-gradient(#e9615e,#ec9956);
    background-color: #FFD700;

    width: 250px;
    border: none;
    padding: 10px;
}

/* ---------------------------------------------services--------------------------------------- */

.section-header h1
{
       
    margin-top: 60px;
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 50px;

}
.service-card
{ 
    width: 400px;
    height: 450px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid#FFD700; 
    margin-top: 30px;

}

.service-card p
{
    font-size: 20px;
    margin: 0px 15px ;
}
.service-card h2
{
    color: #FFD700;
}
.service-card img
{
    height: 200px;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;

}
.service-card:hover
{

    box-shadow: 0 0 4px 4px #FFD700;
    scale: 1.02;
}
.hed-txt
{
    color:black;
}

.service-grid
{
    display: grid;
    grid-template-columns:400px 400px 400px;
    justify-content: space-evenly;
    padding: 40px;
}
 /* ---------------------------------------------projects----------------------------------- */
.row5
{
    justify-content: space-evenly;

    
}
.section__description
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px 90px;
}

.section__header
{
    margin-top: 60px;
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 50px;

}
 .portfolio__card{
  border: 2px solid#FFD700;
  height: 370px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
  
  
}
.portfolio
{
    border: 2px solid#FFD700;
    height: 370px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;

}
.portfolio img{
    height: 220px;
    width: 400px;
    border-radius: 10px 10px 0px 0px;
}
.portfolio:hover
{
    scale: 1.01;
    box-shadow: 0 0 4px 4px #FFD700;

}

.portfolio__grid{
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    justify-content: space-evenly;
    padding: 40px;
}

.portfolio__card h1
{
    color: white;
}
.portfolio__card img{
    height: 220px;
    width: 400px;
    border-radius: 10px 10px 0px 0px;
}

.portfolio__card:hover
{
    scale: 1.01;
    box-shadow: 0 0 4px 4px #FFD700;

}
.portfolio__card button:hover
{
    scale: 1.2;
}
.vist
{
    width: 100px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    background-color: #FFD700;
    border: none;
    margin-top:15px ;
    border-radius: 25px;
    padding: 7px;
}
.vist-site
{
    width: 100px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    background-color: #FFD700;
    border: none;
    margin-top:15px ;
    border-radius: 25px;
    padding: 7px;
}
.titles
{
    color:white;
    text-align: center;
    padding: 15px;
}

.section__description
{
    text-align: center;
    margin-left:20px ;

}
 /* ---------------------------------------------Contact----------------------------------- */

#contact
{
    padding: 10px;
    margin-top: 30px;
    
}
.heading
{
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 37px;
}
form
{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
    
}

.input-box input
{
    width: 500px;
    height: 50px;
    background: transparent;
    border: 2px solid#FFD700;
    border-radius: 10px;
}

.input-group-2 textarea
{
    width: 500px;
    height: 325px;
    background: transparent;
    border: 2px solid #FFD700;
    border-radius: 10px;
    
}
.btn
{
    width: 100px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: large;
    font-weight: bold;
    margin:10px 200px;
    background-color: #FFD700;

}



.skill_style {
    margin-top: 60px;
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 50px;
  }
  .skill_progress {
    position: relative;
    left: 250px;
    width: 70%;
    height: 20px;
    background-color: rgb(207, 206, 206);
    border-radius: 25px;
    position: relative;
  }
  .pro_img {
    height: 300px;
    width: 300px;
  }
  .skill_head {
    position: relative;
    left: 250px;
    font-weight: 500;
    color: rgb(207, 206, 206);
    font-size: 37px;
    
    
  }
  .skill_progress span {
    width: 50%;
    border: 1px solid black;
    background-color: #FFD700;
    height: 100%;
    border-radius: 25px;
    position: absolute;
  }
  .col-12
  {
    margin: 30px 0px;
  }
  .skill_progress .html {
    width: 83%;
    animation: html 1s;
  }
  @keyframes html {
    0% {
      width: 0;
    }
    100% {
      width: 83%;
    }
  }
  .skill_progress .css {
    width: 80%;
    animation: css 1s;
  }
  @keyframes css {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  .skill_progress .js {
    width: 81%;
    animation: js 1s;
  }
  @keyframes js {
    0% {
      width: 0;
    }
    100% {
      width: 81%;
    }
  }

  .skill_progress .java {
    width: 57%;
    animation: java 1s;
  }
  @keyframes java {
    0% {
      width: 0;
    }
    100% {
      width: 57%;
    }
  }
  .skill_progress .sql {
    width: 50%;
    animation: sql 1s;
  }
  @keyframes sql {
    0% {
      width: 0;
    }
    100% {
      width: 50%;
    }
  }
